{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">

		<div class="row-fluid" id="modal">
			<img src="../static/img/banner.png"><br>
			<div class="span8">
				<br>
				{% for post in posts %}
				<div class="well">		
					<a href="{{post.get_absolute_url}}"><h2>{{ post.title }}</h2></a>
					<h6>{{ post.pub_date }}</h6>
					{{ post.text|safe|linebreaks|truncatewords:100 }}
					<p>{% ifnotequal post.text note.text|truncatewords:100 %}
						<a class="readmore" href="{{post.get_absolute_url}}">read more...</a>
						{%endifnotequal%}
					</p>
				</div>
				<br>
				{% endfor %}
				<div class="pagination">
					<ul>
						{% if posts.has_previous %}
						<li><a href="?page={{posts.previous_page_number}}">Prev</a></li>
						{% endif %}
						{% for num in posts.paginator.page_range %}
						{% if posts.number == num %}
						<li><a href="?page={{num}}"><b>{{ num }}</b></a></li>
						{% else %}
						<li><a href="?page={{num}}">{{ num }}</a></li>
						{% endif %}
						{% endfor %}
						{% if posts.number < posts.paginator.num_pages%}
						<li><a href="?page={{posts.next_page_number}}">Next</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="span3">
				<br>
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">About Me</li>
						<li>Author Data</li>
						<li class="nav-header">Recent Posts</li>
						{% for link in recent%}
						<a href="{{ link.get_absolute_url }}"><li>{{link.title}}</li></a>
						{% endfor %}
						<li class="nav-header">Advertisements</li>
						<li>ad1</li>
						<li>ad2</li>
					</ul>
				</div>
			</div>
			
		</div>

</div>
{% endblock %}